.products{
    .info{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;


        button{
            padding:15px ;
            cursor: pointer;
            font-size: 15px;
            background-color: limegreen;
            color: white;
            border: none;
            box-shadow: none;
            border-radius: 50px;
            font-family: "Lucida Console", Courier, monospace;
        }


        button:hover{
            background-color: white;
            color: limegreen;
        }
    }
}